:root {
  // color variables
  --white: #ffffff;
  --dark-gray: #383838;
  --light-gray: #4e4e4e;
  --gray: #a1aab1;
  --light-blue: #0095ff;
  --black: #000000;
  --silver: #ababab;
  --dawn: #a4a4a4;
  --light-red: #f75151;
  --cotton-seed: #bcbcbc;

  // spacer variables
  --spacer-2: 2px;
  --spacer-4: 4px;
  --spacer-8: 8px;
  --spacer-16: 16px;
  --spacer-24: 24px;
  --spacer-48: 48px;
  --spacer-64: 64px;
  --spacer-128: 128px;
  --spacer-150: 150px;
  --spacer-200: 200px;
  --spacer-250: 250px;
  --spacer-350: 350px;

  // font
  --noto-sans: "Noto Sans", sans-serif;
}
